/* header {
  padding: 30px;
  height: 16%;
  position: relative;
  font-size: 10px;
  text-align: center;
} */

/* body {
  /* background: #1690a7; */
  /* background: url("../img/wallpaper2.jfif");
  background-repeat: no-repeat;
  background-size: auto; */

  /* align-items: center; */
  /* height: 100vh; */
  /* flex-direction: column; */
/* } */ 

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

form {
  width: 800px;
  height: 100%;
  border: 2px solid #ccc;
  padding: 40px;
  background: #fff;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

h3 {
  font-size: 20px;
  font-style: normal;
}
h4 {
  font-size: 15px;
  font-style: normal;
}

input {
  display: block;
  border: 2px solid #ccc;
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  border-radius: 5px;
}
label {
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 10px;
}

button {
  float: right;
  background: #555;
  padding: 10px 15px;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
}
button:hover {
  opacity: 0.7;
}
.error {
  background: #f2dede;
  color: #a94442;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

.success {
  background: #d4edda;
  color: #40754c;
  padding: 10px;
  width: 95%;
  border-radius: 5px;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: roboto;
}

.ca {
  font-size: 14px;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #444;
}
.ca:hover {
  text-decoration: underline;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
/* table, th, td{
	column-width: 150px;
	border: 1px solid black;
	border-collapse: collapse;
} */

.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.formreq {
  margin-left: auto;
  margin-right: auto;
}

.index {
  color: #fff;
}

.login-status {
  color: #fff;
}

.auth {
  background: transparent;
  border: 2px solid #fff;
}

button a {
  color: #fff;
  text-decoration: none;
}
/*INDEX.PHP*/
#welcome {
  position: relative;
  width: 465px;
  height: 105px;
  margin-left: 4%;
  margin-top: 149px;
  font-family: roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 112px;

  color: #ffffff;
}
#description {
  position: relative;
  width: 465px;
  color: #ffffff;
  margin-left: 4%;
  font-family: roboto;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 2px;
}
@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}

#malaysia {
  padding-left: 50%;
  position: relative;
  top: -280px;
}

#logo_index {
  position: relative;
  top: -30px;
}
/* ----------------------------------------- */
.search-container {
  float: right;
  width: 100px;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 100px;
}

.search-container button:hover {
  background: #ccc;
  width: 100px;
}

input[type="text"] {
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin-right: 5px;
}

.border {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.col {
  background-color: #7677c0;
  border: 2px solid #020202;
  text-align: left;
  padding: 8px;
}

td {
  border: 2px solid black;
  background-color: #d0d1df;
  padding: 8px;
  text-align: center;
}

.searchbar {
  /* border: 2px solid black; */
  margin-right: 0%;
}

.searchcontainer {
  /* border: 2px solid black; */
  margin-left: 26%;
}

.searchcontainerrequest {
  text-align: center;
  width: 80%;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
